/* index.html */
:root {
  --color-text: #757575;
  --color-h2-h3: #212121;
  --color-hover: #2196f3;
  --link-color: #212121;
  --studio-color: black;
  --hero-background-color: #2f303a;
  --hero-text-color: #ffffff;
  --background-team-color: #f5f4fa;
  --background-footer: #2f303a;
  --footer-studio: white;
  --footer-contacts: #ffffff99;
  --border-color: #ececec;
  --button-hover: #188ce8;
  --border-card: #eeeeee;
}

body {
  background-color: var(--hero-text-color);
  font-family: 'Roboto', sans-serif;
  color: var(--color-h2-h3);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  /* outline: 1px solid tomato; */

  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */

.header {
  background-color: #ffffff;
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--color-hover);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.logo__text--black {
  color: var(--studio-color);
}

/* header nav */

.navigation__list {
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;
}

.navigation__item {
  position: relative;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0px;
}

.navigation__link {
  display: block;
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  margin: 0;
  padding: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
  color: var(--color-hover);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--color-hover);
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__link--current::after {
  position: absolute;

  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;

  background-color: var(--color-hover);
  border-radius: 2px;
}

/* contacts */

.header-contacts {
  display: flex;

  margin-left: auto;
}

.header-contacts__item {
  margin-right: 50px;
}

.header-contacts__item:last-child {
  margin-right: 0px;
}

.header-contacts__mail {
  display: flex;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__phone {
  display: flex;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__mail:hover,
.header-contacts__mail:focus {
  color: var(--color-hover);
}

.header-contacts__phone:hover,
.header-contacts__phone:focus {
  color: var(--color-hover);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */

.section-hero {
  background-color: var(--hero-background-color);

  background-repeat: no-repeat;
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/job.jpg');
}

.hero-title {
  color: var(--hero-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  letter-spacing: 00.06em;
  text-align: center;
  margin-bottom: 30px;

  margin-left: auto;
  margin-right: auto;
}

.button-title-hero {
  display: block;
  border: none;
  border-radius: 4px;

  background-color: var(--color-hover);
  color: var(--hero-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-title-hero:hover,
.button-title-hero:focus {
  background-color: var(--button-hover);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}

.backdrop .modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.btn-close {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .btn-close,
.modal-btn:focus .btn-close {
  fill: var(--color-hover);
}

/* form */

.form-title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form {
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.form-name {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-bottom: 4px;

  color: #757575;
}

.form-input-container {
  position: relative;

  display: block;
}

.form-input {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;

  line-height: 14px;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--color-h2-h3);
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border: 1px solid var(--color-hover);
}

.form-input:focus + .form-icon {
  fill: var(--color-hover);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comments {
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comments:hover,
.form-comments:focus {
  border: 1px solid var(--color-hover);
}

.form-label.comments {
  margin-bottom: 20px;
}

/* checkbox form */

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;
  border: 2px solid #212121;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .checkbox-icon {
  border-color: var(--color-hover);
}

.checkbox:checked + .custom-checkbox {
  background-color: #2196f3;
}

.checkbox:focus + .custom-checkbox {
  border-color: #2196f3;
}

.checkbox-icon {
  fill: #ffffff;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox .checkbox-icon {
  opacity: 1;
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
  cursor: pointer;
}

.checkbox-text-link {
  color: var(--color-hover);
  text-decoration-line: underline;
}

/* button form */

.form-button {
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);

  background-color: var(--color-hover);
  border-width: 0;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.form-button:hover,
.form-button:focus {
  background-color: var(--button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* section benefits */

.benefits-section {
  padding-bottom: 0;
}

.benefits__list {
  display: flex;
  justify-content: center;
}

.benefits__item {
  width: 270px;

  margin-right: 30px;
}

.benefits__icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-team-color);

  align-items: center;
  justify-content: center;
}

.benefits__subtitle {
  color: var(--link-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.benefits__text-subtitle {
  color: var(--color-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section img */

.gallery__subtitle {
  color: var(--link-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.gallery__list {
  display: flex;
  justify-content: center;
}

.gallery__item {
  margin-right: 30px;
}

.gallery__item:last-child {
  margin-right: 0px;
}

.gallery__item {
  position: relative;
}

.gallery__text {
  position: absolute;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* section team */

.card-team {
  background-color: var(--hero-text-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team {
  background-color: var(--background-team-color);
}

.subtitle-team {
  color: var(--color-h2-h3);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.list-team {
  display: flex;
  justify-content: center;
}

.card-team:not(:last-child) {
  margin-right: 30px;
}

.subtitle-name {
  color: var(--color-h2-h3);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.command-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-team {
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-team:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* clients */

.subtitle-clients {
  color: #212121;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.list-clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link-client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover {
  border: 1px solid var(--color-hover);
}

.icon-client {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover .icon-client,
.link-client:focus .icon-client {
  fill: var(--color-hover);
}

/* footer */

.logo-footer {
  display: inline-block;

  color: var(--color-hover);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-bottom: 20px;
}

.footer {
  background-color: var(--background-footer);

  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-white {
  color: var(--footer-studio);
}

.address {
  color: var(--hero-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}

.mail-footer {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-bottom: 9px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-footer {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-footer:hover,
.mail-footer:focus {
  color: var(--color-hover);
}

.phone-footer:hover,
.phone-footer:focus {
  color: var(--color-hover);
}

.li-mail {
  margin-bottom: 9px;
}

/* scroll up */

.scroll-up {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 70px;
  height: 70px;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.scroll-icon {
  fill: var(--color-hover);
}

.scroll-up:hover .scroll-icon {
  fill: var(--button-hover);
}

/* portfolio */

/* button */

.list-button {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.btn {
  background-color: var(--background-team-color);
  cursor: pointer;
  color: var(--color-h2-h3);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border: none;
}

.btn {
  border-radius: 4px;

  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-btn:not(:last-child) {
  margin-right: 8px;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-hover);
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  color: var(--hero-text-color);
}

/* card */

.list-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  cursor: pointer;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card:nth-child(n + 7) {
  margin-bottom: 0;
}

.link-card {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card:hover,
.link-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card:hover .text-overlay,
.link-card:focus .text-overlay {
  transform: translateY(0);
}

.paragraph {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.text-card {
  padding: 20px 24px;

  border-right: 1px solid var(--border-card);
  border-bottom: 1px solid var(--border-card);
  border-left: 1px solid var(--border-card);
}

.text-list {
  color: var(--color-text);
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.subtitle-card {
  color: var(--color-h2-h3);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

/* footer portfolio */

.container-footer {
  margin-right: 70px;
}

.social-container {
  display: flex;
  align-items: baseline;
}

.text-footer {
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

/* join */

.social-list:not(:last-child) {
  margin-right: 10px;
}

.socials-icon {
  fill: #ffffff;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #2196f3;
}

/* subscribe */

.subscribe {
  margin-left: auto;
}

.text-subscribe {
  display: inline-block;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--hero-text-color);
}

.subscribe-form {
  display: flex;
}

.subscribe-label {
  display: block;
}

.subscribe-input {
  width: 358px;
  height: 50px;

  padding: 15px 16px;
  margin-right: 12px;

  background-color: transparent;
  color: var(--hero-text-color);
  outline: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover,
.subscribe-input:focus {
  border: 1px solid var(--hero-text-color);
}

.btn-subscribe {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--hero-text-color);

  padding: 10px 28px;

  background-color: #2196f3;
  border-width: 0;
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: var(--button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-subscribe {
  fill: currentColor;

  margin-left: 10px;
}
